@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: hsl(217, 54%, 11%);
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: hsl(178, 100%, 50%);
}


.main-content {
    display: block;
    width: 220px;
    margin: 20% auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    box-shadow: hsl(214, 50%, 11%);
    padding-top: 15px;
}



/*--------------------------------------------- NFT image  ---------------------------------------------*/


#NFT-img {
    display: block;
    position: relative;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#NFT-img:hover {
    opacity: .5;
    /*background-color: hsl(178, 100%, 50%);
      ^^ not working because the opacity parameter is inherited */
}

.NFT-img:hover + .eye-favicon, .eye-favicon:hover {
    opacity: 1;
    transition: .5s ease;
}

#eye-favicon {
    width: 30px;
}

.eye-favicon {
    position: relative;
    top: -110px;
    left: 96px;
    width: 40px;
    opacity: 0;
}

.text {
    font-family: 'Outfit';
    text-align: left;
    padding: 0px 20px;
}

.NFT-title {
    margin-top: -20px;
    font-size: 15px;
    font-weight: 700;
}

.NFT-description {
    font-size: 11px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

/*--------------------------------------------- NFT information  ---------------------------------------------*/
.info {
    display: inline;
    font-size: 11px;
    vertical-align: middle;
}

.favicon {
    vertical-align: middle;
    height: 12px;
}
.ethereum {
    padding-left: 20px;
}

.clock {
    padding-bottom: 3px;
}

.price {
    padding-left: 0px;
    text-align: left;
    font-weight: 700;
    color:hsl(178, 100%, 50%);
}

.time-left {
    text-align: right;
    padding-right: 0px;
    padding-left: 25px;
    margin-bottom: 20px;
    color: hsl(220, 15%, 55%);
}



/*line properties*/
#line {
    color: hsl(215, 32%, 27%);
    margin: 10px 20px;
}

/* author pic and name */
#author-img {
    width: 20px;
    vertical-align: middle;
    border: white solid 1px;
    border-radius: 50%;
}

.creation {
    vertical-align: middle;
    color: hsl(220, 15%, 55%);
    padding-bottom: 50px;
}

.author {
    padding: 0px;
}

.author:hover {
    color: hsl(178, 100%, 50%);
}
