1-proj-QR/qr-code-component-main/
2-proj-NFT/nft-preview-card-component-main/
3-proj-order/order-summary-component-main/
4-proj-stats/stats-preview-card-component-main/
5-proj-column/3-column-preview-card-component-main/
6-proj-profile/profile-card-component-main/